@font-face {
  font-family: "bebasneue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeue/BebasNeueRegular/bebasneueregular.eot");
  src: url("../fonts/BebasNeue/BebasNeueRegular/bebasneueregular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeueRegular/bebasneueregular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueRegular/bebasneueregular.ttf") format("truetype"); }

@font-face {
  font-family: "bebasneue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BebasNeue/BebasNeueBold/bebasneuebold.eot");
  src: url("../fonts/BebasNeue/BebasNeueBold/bebasneuebold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeueBold/bebasneuebold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeueBold/bebasneuebold.ttf") format("truetype"); }

h1, h2, h3, h4, h5, h6, ul, span, p {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li {
  list-style-type: none;
  padding-left: 0; }

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #E5E5E5;
  color: #2B314D; }

.wrapper {
  overflow: hidden; }

img {
  display: block;
  max-width: 100%; }

a {
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a:hover {
    text-decoration: none; }

.container {
  width: 1170px;
  padding: 0;
  margin: 0 auto; }

.title2,
.title3,
.title4,
.title5,
.title6 {
  font-family: 'bebasneue', sans-serif;
  text-transform: uppercase;
  color: #2E2E2E; }

.title2 {
  font-size: 80px;
  line-height: 104px; }

.title3 {
  font-size: 60px; }

.title4 {
  font-size: 50px; }

.title5 {
  font-size: 40px;
  color: #ffffff; }

.title6 {
  font-size: 35px;
  letter-spacing: 0.03em; }

.line-separator {
  width: 83%;
  height: 1px;
  background: rgba(46, 46, 46, 0.1);
  margin: 0 auto; }

/************** header **************/
.header__line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 17px 0 22px; }

.logo {
  font-family: 'bebasneue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.logo__black {
  color: #2E2E2E; }

.logo__green {
  color: #54C62B; }

.header__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px; }

.menu__item {
  margin-right: 30px; }

.menu__link {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4); }

.menu__link:hover {
  color: #2E2E2E; }

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px; }

.top__item {
  margin-right: 30px; }

.top__link {
  font-weight: 500;
  font-size: 12px;
  color: #2E2E2E;
  padding: 10px 21px;
  background: #ffffff; }

.top__link:hover {
  color: #2E2E2E;
  text-decoration: underline; }

.upper {
  text-transform: uppercase; }

.lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.lang__first,
.lang__second {
  position: relative; }

.lang__first:after,
.lang__second:after {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  position: absolute;
  background: #C4C4C4;
  opacity: 0.2;
  top: 7px;
  right: 0; }

.lang__link {
  color: #CCCCCC;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 10px 6px;
  background: #ffffff; }

.lang__link:hover {
  color: #2E2E2E; }

.lang-active {
  background: #54C62B;
  color: #ffffff; }

.lang__first {
  -webkit-border-radius: 30px 0 0 30px;
          border-radius: 30px 0 0 30px; }

.lang__last {
  -webkit-border-radius: 0px 30px 30px 0px;
          border-radius: 0px 30px 30px 0px; }

.offer {
  padding-top: 59px; }

.offer__title {
  width: 570px;
  margin-bottom: 60px; }

.offer__percent {
  display: inline-block;
  color: #ffffff;
  background: url("../img/percent_bg.svg");
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: cover;
          background-size: cover;
  line-height: 0.95;
  padding: 5px 22px 0 32px;
  margin-left: 22px; }

.offer__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.offer__icon {
  margin-right: 20px; }

.offer__guess {
  width: 470px;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  color: #2E2E2E; }

.login {
  background: url("../img/login_bg.svg");
  background-repeat: no-repeat;
  background-position: center -144px;
  padding: 43px 45px 128px 58px;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  margin-top: 40px; }

.login-avt {
  padding-bottom: 87px; }

.login__cont {
  width: 234px;
  margin: 0 auto; }

.login__title {
  margin-bottom: 15px;
  text-align: center; }

.login__link {
  width: 234px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 14px 0;
  margin-bottom: 16px; }

.login__link:hover {
  width: 208px;
  margin-left: 13px;
  color: #ffffff; }

.fab {
  font-size: 19px;
  margin-right: 5px; }

.social {
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.socilal__link {
  width: 66px;
  height: 45px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
  line-height: 50px; }

.socilal__link:hover {
  -webkit-transform: scale(0.87);
      -ms-transform: scale(0.87);
          transform: scale(0.87);
  color: #ffffff; }

.noyet__link {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500; }

.noyet__text {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.noyet__link:hover {
  color: #ffffff; }

.noyet__link:hover .noyet__text {
  border-bottom: 1px solid #ffffff; }

.noyet__text {
  margin-right: 7px; }

/*************  rates  **************/
.rates {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: hidden; }

.rates__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.rates__item {
  width: 110px;
  height: 150px;
  margin-right: 10px;
  color: #ffffff;
  padding-top: 26px;
  padding-right: 10px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.rates__item-dark {
  background: url("../img/bg-dark.svg"); }

.rates__item-light {
  background: url("../img/bg-light.svg"); }

.rates__icon {
  width: 35px;
  height: 35px;
  background: url("../img/target.svg");
  margin: 0 auto 10px auto; }

.rates__title {
  font-size: 18px;
  font-weight: 500;
  text-align: center; }

.rates__kef {
  font-size: 12px;
  text-align: center; }

.rates__text {
  font-size: 14px;
  font-weight: 600;
  color: #2E2E2E;
  opacity: 0.3;
  text-align: center; }

/*************  cases  **************/
.cases {
  padding-top: 100px; }

.cases__title {
  text-align: center;
  margin-bottom: 25px; }

.cases__cont {
  width: 386px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 66px; }

.cases--left {
  margin-left: auto; }

.cases--right {
  margin-right: auto; }

.cases__cool {
  width: 100%;
  position: relative; }

.cases__img {
  width: 100%;
  height: 196px;
  background: #C4C4C4;
  margin-bottom: 48px; }

.cases__rotate {
  width: 225px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.cases__text {
  width: 235px;
  font-family: 'bebasneue', sans-serif;
  font-size: 25px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  -webkit-transform: rotate(-5.18deg);
      -ms-transform: rotate(-5.18deg);
          transform: rotate(-5.18deg);
  background: #2E2E2E;
  padding: 5px;
  margin-top: 10px;
  margin-left: -5px; }

.cases__cost {
  width: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.cases__price {
  font-family: 'bebasneue', sans-serif;
  font-size: 35px;
  letter-spacing: 0.03em;
  color: #2E2E2E; }

.cases__link {
  font-family: 'Roboto Condensed', sans-serif;
  width: 127px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(43, 49, 77, 0.4);
  text-align: center;
  line-height: 40px;
  background: rgba(207, 207, 207, 0.2); }

.cases__link:hover {
  color: #2b314d;
  background: rgba(207, 207, 207, 0.5); }

.cases__buy {
  width: 259px;
  height: 45px;
  color: #ffffff;
  background: #54C62B;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 14px;
  line-height: 45px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center; }

.cases__buy:hover {
  color: #ffffff;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06); }

.separator {
  width: 2px;
  height: 100px;
  background: #2E2E2E;
  opacity: 0.1;
  margin: 0 auto; }

/*************  guarantees  **************/
.guarantees {
  padding-top: 60px; }

.guarantees-page {
  padding-top: 90px; }

.guarantees__title {
  text-align: center;
  margin-bottom: 60px; }

.guarantees__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -70px;
  margin-bottom: 20px; }

.guarantees__item {
  width: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px; }

.guarantees__icon {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 30px; }

.guarantees__icon_1 {
  background: url("../img/guar1.svg") center 48%; }

.guarantees__icon_2 {
  background: url("../img/guar2.svg") center 48%; }

.guarantees__icon_3 {
  background: url("../img/guar3.svg") center 48%; }

.guarantees__icon_4 {
  background: url("../img/guar4.svg") center 48%; }

.guarantees__icon_5 {
  background: url("../img/guar5.svg") center 48%; }

.guarantees__icon_6 {
  background: url("../img/guar6.svg") center 48%; }

.guarantees__subtitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #2E2E2E;
  margin-bottom: 23px; }

.guarantees__text {
  width: 240px;
  font-size: 14px;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 70px; }

.guarantees__line-separator {
  margin-bottom: 50px; }

/*************  day  **************/
.day {
  padding-top: 82px; }

.day__title {
  margin-bottom: 20px; }

.day__text {
  width: 320px;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal; }

.thank {
  width: 385px;
  -webkit-box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
  background: url("../img/thank-bg.svg") center 40%;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  padding-top: 33px;
  padding-left: 58px;
  padding-bottom: 117px;
  position: relative;
  margin-left: -15px; }

.thank__bg {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: -50px;
  z-index: -1;
  background: #54C62B; }

.thank__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.thank__title {
  margin-bottom: 30px; }

.thank__icon {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px; }

.thank__earnings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff; }

.thank__count {
  font-size: 22px;
  font-weight: bold; }

.thank__text {
  font-size: 14px;
  font-weight: normal; }

/*************  today  **************/
.today {
  padding-top: 90px;
  padding-bottom: 90px;
  background: url("../img/today-bg-1.png") center top;
  -webkit-background-size: cover;
          background-size: cover; }

.today__cont {
  width: 504px;
  margin: 0 auto; }

.today__title {
  color: #ffffff;
  line-height: 96px;
  text-align: center;
  margin-bottom: 30px; }

.today__entrance {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social__today {
  margin-bottom: 0; }

.login__link-today {
  background: #54C62B;
  margin-bottom: 0;
  margin-right: 40px; }

.socilal__link-today {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-right: 16px; }

.socilal__link-last {
  margin-right: 0; }

/*************  reviews  **************/
.reviews {
  padding-top: 60px; }

.reviews__title {
  margin-bottom: 70px; }

.reviews__link {
  width: 190px;
  height: 45px;
  background: #54C62B;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-top: 12px; }

.reviews__link span {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.plus {
  width: 18px;
  height: 18px;
  margin-right: 10px; }

.reviews__link:hover {
  color: rgba(255, 255, 255, 0.9); }

.reviews__link:hover span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9); }

.reviews__cont {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.03em;
  margin-bottom: 30px; }

.reviews__text {
  color: #2B314D;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(46, 46, 46, 0.1);
  margin-bottom: 20px; }

.reviews__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews__icon {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 16px; }

.reviews__subtitle {
  font-weight: normal; }

.reviews__data {
  font-size: 12px; }

.reviews__line-separator {
  margin-top: 110px; }

/*************  topbets  **************/
.topbets {
  padding: 60px 0; }

.topbets__title {
  margin-bottom: 20px; }

.topbets__text {
  font-size: 18px;
  font-weight: normal; }

.topbets__press {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.topbets__link {
  width: 250px;
  height: 70px;
  border: 1px solid rgba(46, 46, 46, 0.1);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px; }

.topbets__icon {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px; }

.topbets__link span {
  width: 174px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(46, 46, 46, 0.5); }

.topbets__link:hover span {
  text-decoration: underline; }

.topb {
  padding-top: 30px;
  padding-bottom: 30px; }

.topb1 {
  background: #54C62B; }

.topb__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -23px; }

.topb__item {
  width: 170px;
  height: 180px;
  background: #ffffff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding-top: 16px;
  margin-right: 23px; }

.topb__foto {
  width: 140px;
  height: 82px;
  background: rgba(46, 46, 46, 0.2);
  margin: 0 auto 18px; }

.topb__title {
  font-size: 18px;
  font-weight: 500;
  color: rgba(46, 46, 46, 0.9);
  text-align: center; }

.topb__kef {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: rgba(46, 46, 46, 0.9); }

.topb__line-separator {
  width: 970px;
  margin: 90px auto 0; }

.topb__line-separator-no-avt {
  margin-top: 90px;
  margin-bottom: 114px; }

/*************  footer  **************/
.footer {
  padding-top: 70px;
  padding-bottom: 180px; }

.footer-reviews,
.topb-footer {
  padding-top: 120px; }

.footer__separator {
  margin-bottom: 70px; }

.footer__title {
  text-align: center;
  margin-bottom: 100px; }

.footer__subtitle {
  margin-bottom: 23px; }

.footer p {
  width: 280px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 25px; }

.footer__info img {
  margin-right: 15px; }

.footer__info p {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-weight: normal;
  color: #2B314D; }

.footer a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #54C62B;
  margin-bottom: 14px; }
  .footer a:hover {
    color: #54C62B;
    text-decoration: underline; }

.footer a img {
  margin-right: 9px; }

/*************  popups  **************/
.popup-pass,
.popup-message {
  width: 470px;
  height: 400px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 15px; }

.popup-message {
  height: 460px; }

.arcticmodal-close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer; }

.box-modal__cont {
  padding: 16px 30px; }

.box-modal__state {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px; }

.box-modal__title {
  color: #2E2E2E; }

.box-modal__title span {
  color: #54C62B; }

.win,
.loss {
  width: 120px;
  height: 35px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.win {
  background: #54C62B; }

.loss {
  background: #F27676; }

.win__tick,
.loss__tick {
  width: 12px;
  height: 8px;
  margin-right: 8px; }

.win__text,
.loss__text {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff; }

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.info__foto {
  width: 140px;
  height: 82px;
  background: rgba(46, 46, 46, 0.2);
  margin-right: 25px; }

.info__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px; }

.info__icon {
  width: 18px;
  height: 18px;
  margin-right: 9px; }

.info__prop {
  font-size: 12px;
  font-weight: normal;
  color: rgba(46, 46, 46, 0.45); }

.info__value {
  font-weight: 700; }

.box-modal__title-message {
  margin-bottom: 24px; }

.popup-message__text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 42px; }

.box-modal__message {
  width: 370px;
  height: 100px;
  resize: none;
  background: rgba(46, 46, 46, 0.05);
  border: none;
  padding: 15px 22px;
  margin-bottom: 30px; }
  .box-modal__message::-webkit-input-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: rgba(46, 46, 46, 0.3); }
  .box-modal__message::-moz-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: rgba(46, 46, 46, 0.3); }
  .box-modal__message::-ms-input-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: rgba(46, 46, 46, 0.3); }
  .box-modal__message::placeholder {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: rgba(46, 46, 46, 0.3); }

.box-modal__mes-submit {
  width: 259px;
  height: 45px;
  text-align: center;
  background: #54C62B;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .box-modal__mes-submit:hover {
    color: rgba(255, 255, 255, 0.84); }
  .box-modal__mes-submit:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3); }

/***** promo-code ******/
.popup-promo {
  width: 690px;
  height: 422px;
  background: url("../img/promo.svg") center center;
  -webkit-box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 25px 55px; }

.popup-promo .arcticmodal-close {
  margin-bottom: 32px; }

.box-modal__cont-promo {
  width: 365px;
  margin: 0 auto;
  padding: 0; }

.popup-promo__title {
  color: #2E2E2E;
  margin-bottom: 35px; }

.popup-promo__text {
  text-align: center;
  font-weight: normal;
  line-height: 24px;
  padding: 5px;
  margin-bottom: 35px; }

.popup-promo__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.popup-promo__code {
  font-family: 'bebasneue', sans-serif;
  font-size: 35px;
  letter-spacing: 0.03em;
  color: #2B314D; }

.popup-promo__link {
  width: 170px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #54C62B;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #ffffff; }
  .popup-promo__link:hover {
    color: #ffffff;
    text-decoration: underline; }

.popup-promo__link img {
  margin-right: 13px; }

/**********  login-lk  ************/
.wrapper-lk {
  background: #E5E5E5; }

.offer-lk {
  padding-top: 68px;
  padding-bottom: 113px; }

.login-lk {
  width: 320px;
  height: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-top: 0;
  margin-left: 25px;
  padding: 44px; }

.offer__ava {
  width: 110px;
  height: 110px;
  background: #E2E2E2;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 40px; }

.offer-lk__title {
  margin-bottom: 35px; }

.offer__icon-lk {
  margin-right: 30px; }

.offer__guess-lk {
  font-size: 16px;
  font-weight: 700; }

.offer-lk__link {
  font-size: 16px;
  font-weight: 700;
  color: #54C62B; }
  .offer-lk__link:hover {
    color: #54C62B;
    text-decoration: underline; }

.login-lk .login__link {
  width: 230px;
  background: #54C62B; }
  .login-lk .login__link:hover {
    width: 204px; }

.login-lk .noyet__link {
  color: #2E2E2E; }
  .login-lk .noyet__link:hover {
    text-decoration: underline; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .topb {
    padding-bottom: 0; }
  .topb__item {
    margin-bottom: 30px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__menu,
  .top {
    display: none; }
  .hamburger__nav {
    position: relative;
    opacity: 0;
    visibility: hidden; }
  .hamburger__list {
    width: 165px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    position: absolute;
    top: 15px;
    left: 0;
    background: #ffffff;
    padding: 30px 20px 20px;
    z-index: 10;
    -webkit-box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05); }
    .hamburger__list:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 2px;
      border: 19px solid transparent;
      border-bottom: 12px solid #fff; }
  .hamburger__list li a {
    font-size: 12px;
    color: #2E2E2E;
    margin-bottom: 20px; }
  .hamburger__list li a:hover {
    text-decoration: underline; }
  .hamburger__btn {
    font-size: 25px; }
  .activeHamburger {
    opacity: 1;
    visibility: visible; }
  .offer__title {
    margin: 0 auto 60px; }
  .offer__text {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .login {
    padding-bottom: 110px; }
  .cases--left {
    margin-left: 0; }
  .cases--right {
    margin-right: 0; }
  .day__title {
    text-align: center; }
  .day__text {
    margin: 0 auto 35px; }
  .thank {
    margin-left: 0; }
  .footer__title {
    margin-bottom: 75px; }
  .footer__block {
    margin-bottom: 45px; }
  .footer {
    padding-bottom: 70px; }
  .topbets__press {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .title2 {
    font-size: 76px; }
  .offer__title {
    width: 540px; }
  .offer__guess {
    width: 410px; }
  .guarantees__list {
    margin-right: -50px; }
  .guarantees__item {
    margin-right: 45px; }
  .today__title {
    margin-bottom: 42px; }
  .footer p {
    width: 100%; }
  .offer__cont-lk {
    margin-bottom: 60px; }
  .offer__ava-lk {
    margin: 0 auto 40px; }
  .offer-lk__title {
    text-align: center; }
  .offer__guess {
    width: 230px; }
  .login-lk {
    margin: 0 auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .container {
    width: 95%;
    margin: 0 auto; }
  .title2 {
    font-size: 75px; }
  .offer__title {
    width: 300px; }
  .login {
    padding-left: 22px;
    padding-right: 22px;
    background-position: 46% -144px; }
  .guarantees__list,
  .guarantees__item {
    margin-right: 0; }
  .today__cont {
    width: 300px; }
  .today__entrance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .login__link-today {
    margin-right: 0;
    margin-bottom: 30px; }
  .reviews__title {
    text-align: center; }
  .reviews__link {
    margin: 0 auto 45px; }
  .topbets__title {
    text-align: center; }
  .topbets__text {
    text-align: center;
    margin-bottom: 40px; }
  .topbets__press {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 400px) {
  .thank {
    width: 300px;
    padding-left: 22px; } }

@media only screen and (max-width: 340px) {
  .login-lk {
    width: 310px;
    padding: 44px 39px; } }
