@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .offer__linear
    .header__offer_caption
      .header__offer_captionBlock
        span
          font-size: 66px
  .header__form_block
    background-size: contain
  .artist
    .artist__block_left
      margin-top: 23px

    .artist__block_rigth
      .artist__block_info
        padding: 15px 46px 6px 71px
  .keyItems
    background-image: none
  .announcement
    .announcement__caption
      -webkit-background-size: 100% 100%
      background-size: 100% 100%

@media only screen and (max-width: 1130px)
  .lineBg
    max-width: 726px
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .price
    .price__block
      img
        max-width: 510px
  .affiliateHeader, .reviews, .connectPage, .questionsAnswers
    padding-top: 121px
  #example,#example1,#example2,#example3
    tbody
      td
        padding: 19px 22px

        .br-widget
          a
            float: none

    thead
      tr
        th
          padding: 19px 22px
  .whiteIcon
    display: block
  .blackIcon
    display: none
  .personalArea
    .personalArea__leftBlock
      margin-right: 0

      &:after
        content: none

      .personalArea__info
        justify-content: center

      .personalArea__btnBlock
        display: flex
        justify-content: center

        button
          margin: 0 5px

      .personalArea__contactBlock
        display: flex
        justify-content: space-between
  .header__menuLayer
    background: rgba(0, 0, 0, 0.8) !important
    transition: .3s all ease-in-out
    position: fixed
    width: 100%
    .header__line
      border-bottom: none !important
  .header__popup_user
    div:first-child
      border-left: none
  .announcement
    .announcement__caption
      -webkit-background-size: auto
      background-size: auto
  .offer__linear_reg
    padding-top: 92px
    .header__regBlockLeft
      flex-direction: column-reverse
  .lineBg
    display: none
  .offer__linear
    .header__offer_caption
      .header__offer_captionBlock
        span
          font-size: 47px
          margin-left: 15px
  .header__form_block
    margin-top: 149px
  footer
    padding-bottom: 40px
  .guarantees__block
    margin-bottom: 20px
  .artist
    padding-top: 67px
  .connect__block
    margin-bottom: 30px
  .row.keyItems_block
    margin-bottom: 0
  .keyItems__blockContent
    margin-bottom: 30px
  .connectPage__block
    max-width: 256px
    margin: auto
  .hamburger__btn
    color: #fff !important
  .header__popup_user
    color: #fff !important
  .affiliateProgram__rightBlock
    margin: auto
    margin-top: 30px
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .personalArea__infoEdit_wrapper
    flex-direction: column
  #example,#example1,#example2,#example3
    tbody
      td
        .br-widget
          a
            font-size: 15px
            margin-right: 0
            height: auto
            width: auto
            float: none
  .price
    padding: 60px 0 129px
  .guarantees__block
    max-width: 295px
    margin: 0 auto 20px
  .offer__linear_reg
    .header__regBlockLeft
      width: auto
      margin-bottom: 30px
  .header__popup_user.mainPage
    div:first-child
      border-left: none

      img
        margin-left: 0
  .offer__linear
    .header__offer_caption
      .header__offer_captionBlock
        span
          font-size: 73px
  .header__link
    display: block
  #example_wrapper,#example1_wrapper,#example2_wrapper,#example3_wrapper
    overflow-x: auto
/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .personalArea__infoEdit_wrapper
    flex-direction: row
    display: flex
    align-items: center
    justify-content: space-between
  .personalArea__rightWrapper
    .personalArea__rightContent
      font-size: 13px
  .personalArea__rightBlock
    .personalArea__rightList
      padding: 0
      justify-content: space-between

      li
        width: auto

    .personalArea__rightCaption
      flex-direction: column
  .personalArea

    .personalArea__leftBlock

      .personalArea__contactBlock
        flex-direction: column
  #exampleModal4
    .headerPopup__block_content
      p
        margin-bottom: 15px

      .payerPoupCaption
        display: none
  .payerPricePopup
    flex-direction: column
  .box-modal
    .headerPopup__block_content
      .payerMobileTitle
        display: block
  .header__logo
    img
      width: 100%
  .header__popup_user
    div:first-child
      img
        margin-left: 0
  .header__form_block
    margin-top: 80px
  h6
    font-size: 52px
  .box-modal
    height: auto
  .price__block
    img
      width: 100%
  .offer__linear
    .header__offer_caption
      .header__offer_captionBlock
        span
          font-size: 41px

        img
          max-width: 311px
  .header__link
    display: none
  .artist
    .artist__block_left
      .artist__block_content
        img
          width: 100%
          height: -webkit-fill-available

        span
          font-size: 13px
          margin-left: 25px
  .artist
    .artist__block_rigth
      padding: 22px 0 0
      max-width: 317px
      margin: auto

      .artist__block_info
        margin: auto
        max-width: 290px
        padding: 31px 31px 6px 39px
        background-size: 100% 100%

        .artist__block_infoOne
          padding: 0 0 9px
          margin: 0

        .artist__block_infoTwo div
          margin-bottom: 0

        .artist__block_infoThree
          padding: 0

  .announcement
    .announcement__blockVk
      margin-right: 8px
  .footer
    h6
      margin-bottom: 69px
  .box-modal
    width: 100%

    .show__btn
      width: 100%
  .keyItems
    padding-top: 53px
  .announcement
    .announcement__caption
      -webkit-background-size: cover
      background-size: cover
  footer
    padding-top: 78px

    h6
      margin-bottom: 79px
      text-align: center
  .footer__block
    margin-bottom: 40px
  .headerPopup__menu
    left: -16px
